* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

img {
    height: 148px;
    width: 148px;
    object-fit: cover;
    border-radius: 50%;
}

.scoreBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 4rem;
    margin-top: 5rem;
}

#userScore, #compScore {
    font-size: 4rem;
}

#msgContainer {
    margin-top: 5rem;
}
#msg {
    font-size: 2rem;
    background-color: #081b31;
    color: white;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}
